@import "tailwindcss";

@layer base {
  :root {
    --font-jersey: 'Jersey 25', sans-serif;
  }
  body {
    font-family: var(--font-jersey);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* 

* {
  border: 1px solid green;
} */